#progress {

    width: 100%;
    height: 4px;
    background-color: #99ffcc;
    position: fixed;
    z-index: 10;
    opacity: 0.5;
}

$error: 0.95;

$container-width: 100%;
$container-height: 100%;

$front-background-image: '../app/assets/node-foreground.png';
$front-width: 4.8rem;
$front-height: 4.8rem;
$front-width: 5.4rem;
$front-height: 5.4rem;

$back-background-image: '../app/assets/node-background.png';
$back-width: 7.45rem;
$back-height: 7.45rem;
$back-width: 8.4rem;
$back-height: 8.4rem;

$question-color                 : $pink;
$answer-color                   : $blue;
$statement-color                : $orange;

$transparent-question-color     : transparentize($question-color, 0.2);
$transparent-answer-color       : transparentize($answer-color, 0.2);
$transparent-statement-color    : transparentize($statement-color, 0.2);
$transparent-question-color     : $question-color;
$transparent-answer-color       : $answer-color;
$transparent-statement-color    : $statement-color;


.question-arrow,
.question-button,
.question-slider {
    background-color: lighten($question-color, 7.5%);
}

.answer-arrow,
.answer-button,
.answer-slider {
    background-color: lighten($answer-color, 7.5%);
}

.statement-arrow,
.statement-button,
.statement-slider {
    background-color: lighten($statement-color, 7.5%);
}

.question-answer-arrow {
    @include background-image(linear-gradient(left, lighten($question-color, 7.5%) 25%, lighten($answer-color, 7.5%)));
}
.question-statement-arrow {
    @include background-image(linear-gradient(left, lighten($question-color, 7.5%) 25%, lighten($statement-color, 7.5%)));
}
.answer-question-arrow {
    @include background-image(linear-gradient(left, lighten($answer-color, 7.5%) 25%, lighten($question-color, 7.5%)));
}
.answer-statement-arrow {
    @include background-image(linear-gradient(left, lighten($answer-color, 7.5%) 25%, lighten($statement-color, 7.5%)));
}
.statement-question-arrow {
    @include background-image(linear-gradient(left, lighten($statement-color, 7.5%) 25%, lighten($question-color, 7.5%)));
}
.statement-answer-arrow {
    @include background-image(linear-gradient(left, lighten($statement-color, 7.5%) 25%, lighten($answer-color, 7.5%)));
}

.question-bubble {
    background-color: $transparent-question-color;
}

.answer-bubble {
    background-color: $transparent-answer-color;
}

.statement-bubble {
    background-color: $transparent-statement-color;
}

.question-tip {
    border-top-color: $transparent-question-color;
}

.answer-tip {
    border-top-color: $transparent-answer-color;
}

.statement-tip {
    border-top-color: $transparent-statement-color;
}

.question-textarea {
    border-top-color:       darken($transparent-question-color, 5%);
    border-bottom-color: darken($transparent-question-color, 5%);
    box-shadow: 0 1px 0 0 lighten($transparent-question-color, 10%);
}

.answer-textarea {
    border-top-color: darken($transparent-answer-color, 5%);
    border-bottom-color: darken($transparent-answer-color, 5%);
    box-shadow: 0 1px 0 0 lighten($transparent-answer-color, 25%);
}

.statement-textarea {
    border-top-color: darken($transparent-statement-color, 5%);
    border-bottom-color: darken($transparent-statement-color, 5%);
    box-shadow: 0 1px 0 0 lighten($transparent-statement-color, 25%);
}

@import "options";
@import "bubble";
@import "arrow";

#input {

    // contain absolute-positioned children
    position: relative;
    overflow: hidden;
    background: -webkit-radial-gradient(200px 45px, cover, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -moz-radial-gradient(200px 45px, cover, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: radial-gradient(200px 45px, cover, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 100%);
    width: 100%;

    #input-container {

        position: absolute;
        width: 5000px;
        height: 5000px;
        // width: 1000px;
        // height: 1000px;
        // margin: -500px 0 0 -500px;
        // top: 50%;
        // left: 50%;
        // background-color: rgba(255, 0, 0, 0.5);
    }

    #input-scroll {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .node {

        position: absolute;
        width: $back-width;
        height: $back-height;
        // keep hidden for now
        left: -9999px;

        .container {

            border-radius: 50%;
            height: $back-height;
            width: $back-width;
        }

        // a {
        //     text-decoration: none;
        //     color: white;
        //     float: right;
        // }


        .front {

            position: absolute;
            z-index: 300;
            border-radius: 50%;
            @include horizontal-center($front-width);
            @include vertical-center($front-height);
            width: $front-width;
            height: $front-height;
            background-color: darken(#ffffff, 4%);
            box-shadow: 0 0.375rem 0.625rem 0.125rem rgba(0, 0, 0, 0.13);
        }

        .back {

            position: absolute;
            z-index: 100;
            border-radius: 50%;

            width: $back-width;
            height: $back-height;
            background-image: url($back-background-image);
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);

            cursor: move;
        }
    }
}

$template-interface-color: rgb(110, 110, 110);

#template-interface {

    position: relative;
    overflow: hidden;
    width: 100%;
}

#template-interface-title-bar {

    text-align: center;
    display: block;
    margin: 2.0rem 0;

    p {
        display: inline-block;
        padding: 0.75rem;
        text-transform: uppercase;
        color: $template-interface-color;
        border: 1px solid rgb(150, 150, 150);
        clear: both;
    }
}

#template-interface-layout-selection {

    h2 {
        font-size: 1.5rem;
    }

    li:first-child {
        margin-top: 0;
    }

    li {
        margin-top: 5%;
    }

    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#template-interface-layout-scroller {

    width: 100%;
    height: 100%;
    overflow: hidden;
}

#template-interface-theme-selection {

    h2 {
        font-size: 1.5rem;
    }

    li:first-child {
        margin-top: 0;
    }

    li {
        margin-top: 5%;
    }

    width: 50%;
    height: 100%;
    float: right;
    overflow: hidden;
}

#template-interface-theme-scroller {

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.template-interface-card {

    // position: relative;
    background-color: rgb(250, 250, 250);
    margin-left: 2.5%;
    width: 95%;
    height: 20rem;
    background-color: rgb(197, 239, 222);

    .selected {

        background-color: rgb(61, 239, 167);

        .selected-icon{
            color: rgba(255, 255, 255, 0.8);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        }
    }

    .highlighted {

        background-color: rgba(0, 0, 0, 0.4);

        .selected-icon {
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

// .template-interface-card-meta {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     background-color: rgb(255, 255, 255);
//
//     h3 {
//         font-weight: bold;
//     }
//
//     h3, p {
//
//         display: inline;
//     }
// }

.template-interface-card-overlay {
    width: 100%;
    height: 100%;
    text-align: center;

    div {
        font-size: 5.0rem;
        line-height: 20rem;
    }
}
