$light-black:   rgb(40, 40, 40);

$gray:          rgb(135, 135, 135);
// change the names of these colors
$dark-gray:     rgb(200, 200, 200);
$darker-gray:   rgb(210, 210, 210);

$dark-white:    rgb(247, 247, 247);

$flowur-red:    rgb(250, 72, 72);
$flowur-blue:   rgb(121, 233, 222);

$orange:        rgb(248, 200, 46);
$transparent-orange: rgba(254, 194, 2, 0.8);
$transparent-blue-green: rgba(53, 217, 236, 0.8);
$transparent-magenta: rgba(250, 148, 172, 0.8);
$transparent-orange: rgb(254, 194, 2);
$transparent-blue-green: rgb(53, 217, 236);
$transparent-magenta: rgb(250, 148, 172);
$orange: rgb(254, 194, 2);
$blue: rgb(53, 217, 236);
$pink: rgb(250, 148, 172);
