@font-face {
    font-family: 'font-awesome';
    src:url('../fonts/font-awesome.eot');
    src:url('../fonts/font-awesome.eot?#iefix') format('embedded-opentype'),
        url('../fonts/font-awesome.woff') format('woff'),
        url('../fonts/font-awesome.ttf') format('truetype'),
        url('../fonts/font-awesome.svg#font-awesome') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'font-awesome';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
