// mixins

@mixin vertical-center($height) {
	position: absolute;
	top: 50%;
	height: $height;
	margin-top: -$height / 2;
}

@mixin horizontal-center($width) {
	position: absolute;
	left: 50%;
	width: $width;
	margin-left: -$width / 2;
}

@mixin placeholder($color) {
    ::-webkit-input-placeholder { color: $color };
    ::-moz-placeholder { color: $color };
    :-ms-input-placeholder { color: $color }
    input:-moz-placeholder { color: $color }

}


@mixin border-radius($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin box-shadow($horizontalOffset, $verticalOffset, $blurRadius, $spreadRadius, $color, $inset: "") {
	-moz-box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $color #{$inset};
	-webkit-box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $color #{$inset};
	box-shadow: $horizontalOffset $verticalOffset $blurRadius $spreadRadius $color #{$inset};
}

@mixin box-shadows($shadow...) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}
