/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
#progress {
  width: 100%;
  height: 4px;
  background-color: #99ffcc;
  position: fixed;
  z-index: 10;
  opacity: 0.5; }

.question-arrow, .question-button {
  background-color: #fcb9c8; }

.answer-arrow, .answer-button {
  background-color: #58e0ef; }

.statement-arrow, .statement-button {
  background-color: #fecb28; }

.question-answer-arrow {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(25%, #fcb9c8), color-stop(100%, #58e0ef));
  background-image: -webkit-linear-gradient(left, #fcb9c8 25%, #58e0ef);
  background-image: -moz-linear-gradient(left, #fcb9c8 25%, #58e0ef);
  background-image: -o-linear-gradient(left, #fcb9c8 25%, #58e0ef);
  background-image: linear-gradient(left, #fcb9c8 25%, #58e0ef); }

.question-statement-arrow {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(25%, #fcb9c8), color-stop(100%, #fecb28));
  background-image: -webkit-linear-gradient(left, #fcb9c8 25%, #fecb28);
  background-image: -moz-linear-gradient(left, #fcb9c8 25%, #fecb28);
  background-image: -o-linear-gradient(left, #fcb9c8 25%, #fecb28);
  background-image: linear-gradient(left, #fcb9c8 25%, #fecb28); }

.answer-question-arrow {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(25%, #58e0ef), color-stop(100%, #fcb9c8));
  background-image: -webkit-linear-gradient(left, #58e0ef 25%, #fcb9c8);
  background-image: -moz-linear-gradient(left, #58e0ef 25%, #fcb9c8);
  background-image: -o-linear-gradient(left, #58e0ef 25%, #fcb9c8);
  background-image: linear-gradient(left, #58e0ef 25%, #fcb9c8); }

.answer-statement-arrow {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(25%, #58e0ef), color-stop(100%, #fecb28));
  background-image: -webkit-linear-gradient(left, #58e0ef 25%, #fecb28);
  background-image: -moz-linear-gradient(left, #58e0ef 25%, #fecb28);
  background-image: -o-linear-gradient(left, #58e0ef 25%, #fecb28);
  background-image: linear-gradient(left, #58e0ef 25%, #fecb28); }

.statement-question-arrow {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(25%, #fecb28), color-stop(100%, #fcb9c8));
  background-image: -webkit-linear-gradient(left, #fecb28 25%, #fcb9c8);
  background-image: -moz-linear-gradient(left, #fecb28 25%, #fcb9c8);
  background-image: -o-linear-gradient(left, #fecb28 25%, #fcb9c8);
  background-image: linear-gradient(left, #fecb28 25%, #fcb9c8); }

.statement-answer-arrow {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(25%, #fecb28), color-stop(100%, #58e0ef));
  background-image: -webkit-linear-gradient(left, #fecb28 25%, #58e0ef);
  background-image: -moz-linear-gradient(left, #fecb28 25%, #58e0ef);
  background-image: -o-linear-gradient(left, #fecb28 25%, #58e0ef);
  background-image: linear-gradient(left, #fecb28 25%, #58e0ef); }

.question-bubble {
  background-color: rgba(250, 148, 172, 0.8); }

.answer-bubble {
  background-color: rgba(53, 217, 236, 0.8); }

.statement-bubble {
  background-color: rgba(254, 194, 2, 0.8); }

.question-tip {
  border-top-color: rgba(250, 148, 172, 0.8); }

.answer-tip {
  border-top-color: rgba(53, 217, 236, 0.8); }

.statement-tip {
  border-top-color: rgba(254, 194, 2, 0.8); }

.question-textarea {
  border-top-color: rgba(249, 124, 153, 0.8);
  border-bottom-color: rgba(249, 124, 153, 0.8);
  box-shadow: 0 1px 0 0 rgba(252, 197, 210, 0.8); }

.answer-textarea {
  border-top-color: rgba(30, 213, 234, 0.8);
  border-bottom-color: rgba(30, 213, 234, 0.8);
  box-shadow: 0 1px 0 0 rgba(170, 239, 247, 0.8); }

.statement-textarea {
  border-top-color: rgba(230, 175, 1, 0.8);
  border-bottom-color: rgba(230, 175, 1, 0.8);
  box-shadow: 0 1px 0 0 rgba(255, 225, 129, 0.8); }

.options-toggle {
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  z-index: 501;
  top: 2rem;
  left: 2rem;
  display: block;
  cursor: pointer; }
  .options-toggle:link {
    outline: none;
    text-decoration: none; }
  .options-toggle .icon-cog {
    font-size: 1.125rem;
    margin-right: 0.5rem; }
  .options-toggle .icon-caret-down {
    font-size: 0.875rem; }

.options-toggle-inactive {
  color: #878787;
  border: 1px solid #c8c8c8; }
  .options-toggle-inactive:hover {
    color: #747474;
    border-color: #bbbbbb; }

.options-toggle-active {
  color: #d5d5d5;
  border-color: none; }
  .options-toggle-active:hover {
    color: #c2c2c2;
    border-color: #bbbbbb; }

#input-options {
  padding-top: 2.25rem;
  border-radius: 0.25rem;
  z-index: 500;
  position: absolute;
  top: 1.75rem;
  left: 2rem;
  width: 16.0rem;
  overflow: hidden;
  background-color: #f7f7f7;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15); }
  #input-options .options {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    font-size: 1.0rem;
    font-style: italic;
    color: whitesmoke; }
  #input-options .value, #input-options .label {
    font-style: italic;
    margin-bottom: 0.875rem; }
  #input-options .value {
    float: left;
    text-align: left; }
  #input-options .label {
    text-align: right;
    float: right; }
  #input-options .slider {
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 12;
    width: 100%;
    clear: both; }
  #input-options .ui-slider-handle {
    border-radius: 50%;
    outline: none;
    position: absolute;
    z-index: 30;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3); }
  #input-options .ui-slider-range {
    position: absolute;
    z-index: 21;
    height: 100%; }
  #input-options #flowchart-options {
    padding-bottom: 1.25rem;
    color: #c8c8c8;
    background-color: #f7f7f7; }
    #input-options #flowchart-options input[type="text"] {
      padding-bottom: 0.25rem;
      border: none;
      border-bottom: 1px solid;
      outline: none;
      width: 100%;
      font-family: "nimbus-sans";
      font-size: 1.0rem;
      font-style: italic;
      text-align: left;
      color: #7f7f7f;
      border-bottom-color: #e8e8e8;
      background-color: transparent; }
      #input-options #flowchart-options input[type="text"]:hover, #input-options #flowchart-options input[type="text"]:focus {
        border-bottom-color: #d5d5d5; }
  #input-options #stats-options {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    text-align: center;
    color: #c8c8c8;
    background-color: #282828; }
    #input-options #stats-options .node-count {
      float: left;
      border-right: 1px solid #494949; }
    #input-options #stats-options .arrow-count {
      float: right; }
    #input-options #stats-options .data-count {
      width: 49.35%;
      display: block;
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #959595; }
    #input-options #stats-options strong {
      margin-bottom: 0.25rem;
      display: block;
      font-size: 3.0rem;
      font-weight: 700;
      color: #c8c8c8; }
    #input-options #stats-options #node-options {
      margin-top: 0.875rem;
      margin-left: 1.125rem;
      padding: 0.875rem;
      padding-top: 0;
      border: 1px solid #1b1b1b;
      border-radius: 0.125rem;
      width: 12rem;
      text-align: left;
      clear: both;
      background-color: #222222; }
      #input-options #stats-options #node-options .value, #input-options #stats-options #node-options .label {
        margin-top: 0.875rem;
        font-size: 0.9rem; }
      #input-options #stats-options #node-options .selected {
        position: absolute;
        right: 0;
        font-size: 1.0rem;
        color: white; }
      #input-options #stats-options #node-options #importance-slider {
        margin: 0.125rem 0;
        margin-bottom: 0.25rem;
        border-radius: 0.45rem;
        height: 0.45rem;
        background-color: #1b1b1b;
        clear: both; }
      #input-options #stats-options #node-options .ui-slider-handle {
        margin-top: -0.425rem;
        margin-left: -0.65rem;
        width: 1.3rem;
        height: 1.3rem;
        background-color: #d1d1d1; }
      #input-options #stats-options #node-options .ui-slider-range {
        border-radius: 0.45rem; }
      #input-options #stats-options #node-options .button-wrap {
        position: relative;
        clear: both;
        margin-bottom: 0.25rem; }
        #input-options #stats-options #node-options .button-wrap button:first-child {
          margin-left: 0; }
      #input-options #stats-options #node-options button {
        position: relative;
        margin-left: 0.75rem;
        padding: 0.875rem 0;
        border: none;
        border-radius: 0.125rem;
        outline: none;
        text-align: center;
        color: white;
        font-size: 0.9rem;
        font-family: "futura-pt";
        font-weight: 700;
        width: 3.5rem;
        float: left; }
        #input-options #stats-options #node-options button::-moz-focus-inner {
          border: none; }
  #input-options #view-options {
    padding-top: 1.375rem;
    text-align: center;
    color: #7f7f7f;
    background-color: #f7f7f7; }
    #input-options #view-options #zoom-slider {
      margin-bottom: 1.25rem;
      border-radius: 0.5rem;
      position: relative;
      z-index: 12;
      height: 0.5rem;
      background-color: #eeeeee; }
    #input-options #view-options .ui-slider-handle {
      margin-top: -0.5rem;
      margin-left: -0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: white;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15); }
    #input-options #view-options .ui-slider-range {
      border-radius: 0.5rem; }
    #input-options #view-options button {
      padding: 0.5rem 0;
      border: none;
      border-radius: 0.125rem;
      outline: none;
      width: 100%;
      font-family: "futura-pt";
      font-size: 1.0rem;
      text-align: center;
      color: white;
      background-color: #626262; }
      #input-options #view-options button::-moz-focus-inner {
        border: none; }
      #input-options #view-options button:hover {
        background-color: #494949; }

.bubble {
  border-radius: 0.25rem;
  padding-bottom: 0.325rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  left: 50%;
  z-index: 400;
  bottom: 7.0775rem;
  font-family: "futura-pt", Georgia;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1); }

.minimized-bubble {
  margin-left: -2rem;
  left: 50%;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  max-width: 8rem;
  min-width: 3rem;
  height: 1.25rem; }
  .minimized-bubble .type {
    left: 0.45rem;
    position: absolute;
    width: 1.5rem;
    font-weight: 700; }
  .minimized-bubble .text {
    position: relative;
    margin-top: 0.125rem;
    margin-left: 1.75rem;
    padding-bottom: 0.325rem;
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    font-size: 1.125rem;
    color: white; }

.maximized-bubble {
  margin-left: -6.75rem;
  padding-top: 0.525rem;
  padding-bottom: 0.35rem;
  width: 12.5rem;
  height: 5.5rem; }
  .maximized-bubble .wrap {
    width: 100%; }
  .maximized-bubble textarea {
    padding: 0.5rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left: none;
    border-right: none;
    border-radius: 0.25rem;
    outline: none;
    width: 11.5rem;
    height: 3.0rem;
    float: left;
    clear: both;
    text-align: left;
    font-weight: 300;
    font-family: "nimbus-sans";
    font-size: 0.9rem;
    line-height: 1.0rem;
    background-color: whitesmoke;
    resize: none; }
  .maximized-bubble .meta {
    margin-bottom: 0.25rem;
    width: 12.5rem;
    float: left;
    font-size: 0.9rem; }
    .maximized-bubble .meta .remaining-character-count {
      float: left; }
    .maximized-bubble .meta .editing-options-notification {
      float: left;
      display: none;
      font-style: italic; }
    .maximized-bubble .meta a.options {
      margin-right: 0.3rem;
      float: left;
      text-decoration: none;
      color: white;
      cursor: pointer; }

.tip {
  margin-left: -0.45rem;
  border-left: 0.45rem dotted rgba(255, 255, 255, 0);
  border-right: 0.45rem dotted rgba(255, 255, 255, 0);
  border-top-width: 0.375rem;
  border-top-style: solid;
  z-index: 399;
  position: absolute;
  left: 50%;
  bottom: -0.315rem;
  width: 0;
  height: 0;
  display: block;
  content: ' '; }

.arrow {
  position: absolute;
  z-index: 200;
  height: 1rem;
  border-radius: 1rem;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  overflow: hidden;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset; }

#input {
  position: relative;
  overflow: hidden;
  background: -webkit-radial-gradient(200px 45px, cover, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -moz-radial-gradient(200px 45px, cover, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: radial-gradient(200px 45px, cover, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 100%);
  width: 100%; }
  #input #input-container {
    width: 5000px;
    height: 5000px; }
  #input .node {
    position: absolute;
    width: 7.45rem;
    height: 7.45rem; }
    #input .node .container {
      border-radius: 50%;
      height: 7.45rem;
      width: 7.45rem; }
    #input .node .front {
      position: absolute;
      z-index: 300;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      width: 4.8rem;
      margin-left: -2.4rem;
      position: absolute;
      top: 50%;
      height: 4.8rem;
      margin-top: -2.4rem;
      width: 4.8rem;
      height: 4.8rem;
      background-color: whitesmoke;
      box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.13); }
    #input .node .back {
      position: absolute;
      z-index: 100;
      border-radius: 50%;
      width: 7.45rem;
      height: 7.45rem;
      background-image: url("../app/assets/node-background.png");
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
      cursor: move; }

.arrow {
  position: absolute;
  z-index: 200;
  height: 1rem;
  border-radius: 1rem;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  overflow: hidden;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6) inset; }

.bubble {
  border-radius: 0.25rem;
  padding-bottom: 0.325rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  left: 50%;
  z-index: 400;
  bottom: 7.0775rem;
  font-family: "futura-pt", Georgia;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1); }

.minimized-bubble {
  margin-left: -2rem;
  left: 50%;
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  max-width: 8rem;
  min-width: 3rem;
  height: 1.25rem; }
  .minimized-bubble .type {
    left: 0.45rem;
    position: absolute;
    width: 1.5rem;
    font-weight: 700; }
  .minimized-bubble .text {
    position: relative;
    margin-top: 0.125rem;
    margin-left: 1.75rem;
    padding-bottom: 0.325rem;
    max-width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    font-size: 1.125rem;
    color: white; }

.maximized-bubble {
  margin-left: -6.75rem;
  padding-top: 0.525rem;
  padding-bottom: 0.35rem;
  width: 12.5rem;
  height: 5.5rem; }
  .maximized-bubble .wrap {
    width: 100%; }
  .maximized-bubble textarea {
    padding: 0.5rem;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left: none;
    border-right: none;
    border-radius: 0.25rem;
    outline: none;
    width: 11.5rem;
    height: 3.0rem;
    float: left;
    clear: both;
    text-align: left;
    font-weight: 300;
    font-family: "nimbus-sans";
    font-size: 0.9rem;
    line-height: 1.0rem;
    background-color: whitesmoke;
    resize: none; }
  .maximized-bubble .meta {
    margin-bottom: 0.25rem;
    width: 12.5rem;
    float: left;
    font-size: 0.9rem; }
    .maximized-bubble .meta .remaining-character-count {
      float: left; }
    .maximized-bubble .meta .editing-options-notification {
      float: left;
      display: none;
      font-style: italic; }
    .maximized-bubble .meta a.options {
      margin-right: 0.3rem;
      float: left;
      text-decoration: none;
      color: white;
      cursor: pointer; }

.tip {
  margin-left: -0.45rem;
  border-left: 0.45rem dotted rgba(255, 255, 255, 0);
  border-right: 0.45rem dotted rgba(255, 255, 255, 0);
  border-top-width: 0.375rem;
  border-top-style: solid;
  z-index: 399;
  position: absolute;
  left: 50%;
  bottom: -0.315rem;
  width: 0;
  height: 0;
  display: block;
  content: ' '; }

@font-face {
  font-family: 'font-awesome';
  src: url("../fonts/font-awesome.eot");
  src: url("../fonts/font-awesome.eot?#iefix") format("embedded-opentype"), url("../fonts/font-awesome.woff") format("woff"), url("../fonts/font-awesome.ttf") format("truetype"), url("../fonts/font-awesome.svg#font-awesome") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'font-awesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.options-toggle {
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  z-index: 501;
  top: 2rem;
  left: 2rem;
  display: block;
  cursor: pointer; }
  .options-toggle:link {
    outline: none;
    text-decoration: none; }
  .options-toggle .icon-cog {
    font-size: 1.125rem;
    margin-right: 0.5rem; }
  .options-toggle .icon-caret-down {
    font-size: 0.875rem; }

.options-toggle-inactive {
  color: #878787;
  border: 1px solid #c8c8c8; }
  .options-toggle-inactive:hover {
    color: #747474;
    border-color: #bbbbbb; }

.options-toggle-active {
  color: #d5d5d5;
  border-color: none; }
  .options-toggle-active:hover {
    color: #c2c2c2;
    border-color: #bbbbbb; }

#input-options {
  padding-top: 2.25rem;
  border-radius: 0.25rem;
  z-index: 500;
  position: absolute;
  top: 1.75rem;
  left: 2rem;
  width: 16.0rem;
  overflow: hidden;
  background-color: #f7f7f7;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15); }
  #input-options .options {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    font-size: 1.0rem;
    font-style: italic;
    color: whitesmoke; }
  #input-options .value, #input-options .label {
    font-style: italic;
    margin-bottom: 0.875rem; }
  #input-options .value {
    float: left;
    text-align: left; }
  #input-options .label {
    text-align: right;
    float: right; }
  #input-options .slider {
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 12;
    width: 100%;
    clear: both; }
  #input-options .ui-slider-handle {
    border-radius: 50%;
    outline: none;
    position: absolute;
    z-index: 30;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3); }
  #input-options .ui-slider-range {
    position: absolute;
    z-index: 21;
    height: 100%; }
  #input-options #flowchart-options {
    padding-bottom: 1.25rem;
    color: #c8c8c8;
    background-color: #f7f7f7; }
    #input-options #flowchart-options input[type="text"] {
      padding-bottom: 0.25rem;
      border: none;
      border-bottom: 1px solid;
      outline: none;
      width: 100%;
      font-family: "nimbus-sans";
      font-size: 1.0rem;
      font-style: italic;
      text-align: left;
      color: #7f7f7f;
      border-bottom-color: #e8e8e8;
      background-color: transparent; }
      #input-options #flowchart-options input[type="text"]:hover, #input-options #flowchart-options input[type="text"]:focus {
        border-bottom-color: #d5d5d5; }
  #input-options #stats-options {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    text-align: center;
    color: #c8c8c8;
    background-color: #282828; }
    #input-options #stats-options .node-count {
      float: left;
      border-right: 1px solid #494949; }
    #input-options #stats-options .arrow-count {
      float: right; }
    #input-options #stats-options .data-count {
      width: 49.35%;
      display: block;
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #959595; }
    #input-options #stats-options strong {
      margin-bottom: 0.25rem;
      display: block;
      font-size: 3.0rem;
      font-weight: 700;
      color: #c8c8c8; }
    #input-options #stats-options #node-options {
      margin-top: 0.875rem;
      margin-left: 1.125rem;
      padding: 0.875rem;
      padding-top: 0;
      border: 1px solid #1b1b1b;
      border-radius: 0.125rem;
      width: 12rem;
      text-align: left;
      clear: both;
      background-color: #222222; }
      #input-options #stats-options #node-options .value, #input-options #stats-options #node-options .label {
        margin-top: 0.875rem;
        font-size: 0.9rem; }
      #input-options #stats-options #node-options .selected {
        position: absolute;
        right: 0;
        font-size: 1.0rem;
        color: white; }
      #input-options #stats-options #node-options #importance-slider {
        margin: 0.125rem 0;
        margin-bottom: 0.25rem;
        border-radius: 0.45rem;
        height: 0.45rem;
        background-color: #1b1b1b;
        clear: both; }
      #input-options #stats-options #node-options .ui-slider-handle {
        margin-top: -0.425rem;
        margin-left: -0.65rem;
        width: 1.3rem;
        height: 1.3rem;
        background-color: #d1d1d1; }
      #input-options #stats-options #node-options .ui-slider-range {
        border-radius: 0.45rem; }
      #input-options #stats-options #node-options .button-wrap {
        position: relative;
        clear: both;
        margin-bottom: 0.25rem; }
        #input-options #stats-options #node-options .button-wrap button:first-child {
          margin-left: 0; }
      #input-options #stats-options #node-options button {
        position: relative;
        margin-left: 0.75rem;
        padding: 0.875rem 0;
        border: none;
        border-radius: 0.125rem;
        outline: none;
        text-align: center;
        color: white;
        font-size: 0.9rem;
        font-family: "futura-pt";
        font-weight: 700;
        width: 3.5rem;
        float: left; }
        #input-options #stats-options #node-options button::-moz-focus-inner {
          border: none; }
  #input-options #view-options {
    padding-top: 1.375rem;
    text-align: center;
    color: #7f7f7f;
    background-color: #f7f7f7; }
    #input-options #view-options #zoom-slider {
      margin-bottom: 1.25rem;
      border-radius: 0.5rem;
      position: relative;
      z-index: 12;
      height: 0.5rem;
      background-color: #eeeeee; }
    #input-options #view-options .ui-slider-handle {
      margin-top: -0.5rem;
      margin-left: -0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      background-color: white;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15); }
    #input-options #view-options .ui-slider-range {
      border-radius: 0.5rem; }
    #input-options #view-options button {
      padding: 0.5rem 0;
      border: none;
      border-radius: 0.125rem;
      outline: none;
      width: 100%;
      font-family: "futura-pt";
      font-size: 1.0rem;
      text-align: center;
      color: white;
      background-color: #626262; }
      #input-options #view-options button::-moz-focus-inner {
        border: none; }
      #input-options #view-options button:hover {
        background-color: #494949; }

html html, html body, html div, html span, html applet, html object, html iframe,
html h1, html h2, html h3, html h4, html h5, html h6, html p, html blockquote, html pre,
html a, html abbr, html acronym, html address, html big, html cite, html code,
html del, html dfn, html em, html img, html ins, html kbd, html q, html s, html samp,
html small, html strike, html strong, html sub, html sup, html tt, html var,
html b, html u, html i, html center,
html dl, html dt, html dd, html ol, html ul, html li,
html fieldset, html form, html label, html legend,
html table, html caption, html tbody, html tfoot, html thead, html tr, html th, html td,
html article, html aside, html canvas, html details, html embed,
html figure, html figcaption, html footer, html header, html hgroup,
html menu, html nav, html output, html ruby, html section, html summary,
html time, html mark, html audio, html video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }
html html {
  line-height: 1; }
html ol, html ul {
  list-style: none; }
html table {
  border-collapse: collapse;
  border-spacing: 0; }
html caption, html th, html td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }
html q, html blockquote {
  quotes: none; }
  html q:before, html q:after, html blockquote:before, html blockquote:after {
    content: "";
    content: none; }
html a img {
  border: none; }
html article, html aside, html details, html figcaption, html figure, html footer, html header, html hgroup, html menu, html nav, html section, html summary {
  display: block; }
