#app {

    border-top: 4px solid #99ffcc;
}
#navigation {

    position: fixed;
    top: 1.5rem;
    right: 1.0rem;
    background-color: #111111;
    padding: 0.75rem;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.25rem;
}


#input {

    background: -webkit-radial-gradient(200px 45px, cover, rgb(255, 0, 0) 0%, rgb(0, 0, 255) 100%);
    background: -moz-radial-gradient(750px 45px, cover, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: radial-gradient(200px 45px, cover, rgb(255, 0, 0) 0%, rgb(0, 0, 255) 100%);

    .node {

        $width: 96px;
        $height: 96px;

        width: $width;
        height: $height;

        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$height / 2;
        margin-left: -$width / 2;
    }

    .node-background {

        $width: 120px;
        $height: 121px;

        width: $width;
        height: $height;

        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$height / 2 - 3;
        margin-left: -$width / 2;
    }
}

#visualize {

    position: relative;
    background-color: #111111;
}

#share {

    position: relative;

    .toolbar {

        @include border-radius(0.25rem);
        position: absolute;
        left: 1.0rem;
        top: 1.5rem;
        background-color: #dddddd;
        overflow: hidden;
        font-size: 0.9rem;
        font-weight: 400;
        font-family: "nudista-web", Helvetica;
        color: #ffffff;
        @include box-shadow(0, 1px, 0, 0, rgba(255, 255, 255, 0.3));
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);

        li {

            float: left;

            &:first-child {

                background-color: #cccccc;
                color: #ffffff;

                a {

                    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
                    border: 1px solid darken(#dddddd, 10%);
                }
            }

            a {

                border: 1px solid darken(#dddddd, 5%);
                display: block;
                padding: 1.25rem 1.75rem;
                border-left: none;
            }
        }
    }
}
