@import "reset.css";
@import "mixins";
@import "app";

// variables
$red: #f62525;


// @extend classes

.clearfix {
	zoom: 1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}

	&:after{
		clear: both;
	}
}

.wrapper {
	// @extend .clearfix;
	margin: 0 auto;
}

.button {
	@include border-radius(0.25rem);
	@include box-shadow(0, 1px, 1px, 0, rgba(0, 0, 0, 0.8));
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.button.create {
	background-color: #f62525;
	background: -moz-linear-gradient(top, $red 50%, darken($red, 50%), 100%);
	font-size: 1.25rem;
	font-weight: 500;
	padding: 0.6rem 1.75rem;
}

.button.sign-in {
	position: relative;
	margin: 1.75rem 3.0rem 0 0;
	padding: 0rem 1.0rem;
	float: right;
	font-size: 0.9rem;
	font-weight: 500;
	background-color: rgba(0, 0, 0, 0.5);
}

// main

body {
	font-family: "futura-pt", Georgia, sans-serif;
	font-weight: 400;
	background-color: #eeeeee;
}

header {
	position: relative;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-image: url("images/blackorchid.png");
	line-height: 2.15rem;
	text-shadow: 0 -2px 1px rgba(0, 0, 0, 1);
	border-bottom: 1px solid #ffffff;

	h1, h2, h3, h4, h5, h6 {
		font-family: "futura-pt", Georgia, sans-serif;
	}

	h1 {
		font-size: 2.25rem;
		text-transform: uppercase;
		font-weight: 700;
	}

	h2 {
		font-weight: 400;
		font-style: italic;
		font-size: 1.65rem;
		margin-bottom: 1.1rem;
	}

	#intro {
		$height: 4.0rem;
		$width: 100%;
		height: $height;
		@include vertical-center($height + 4.25rem);
		@include horizontal-center($width);
	}

	p {
		$width: 100%;
		width: $width;
		@include horizontal-center($width);
		bottom: 3.0rem;
		font-size: 0.9rem;
	}
}

#video {
	position: relative;
	width: 48.0rem;
	height: 27.0rem;
	margin: 3.0rem auto;
	background-color: #999999;

	p {
		$height: 2.0rem;
		$width: 10.0rem;
		height: $height;
		width: $width;
		display: inline-block;
		padding: 0.25rem 0.25rem;
		@include border-radius(2.0rem);
		@include vertical-center($height);
		@include horizontal-center($width);
		background-color: #ffffff;
		font-size: 1.25rem;
		text-align: center;
		line-height: $height;
		color: #666666;
	}
}

#overview {
	width: 54.0rem;
	margin: 3.0rem auto;
	background-color:#333333;
	padding: 3.0rem;
	@include box-shadow(0, 2px, 3px, 0, rgba(0, 0, 0, 0.2));

	h3 {
		padding: 1.0rem;
		font-size: 1.25rem;
		font-weight: 500;
		color: #333333;
	}
}

#featured {
	margin: 3.0rem auto;
	width: 60.0rem;

	li {
		display: inline-block;
		list-style-type: none;
		margin-left: 1.5rem;

		.thumbnail {
			position: relative;
			width: 18.75rem;
			height: 22.0rem;
			background-image: url("images/flowchart.jpg");
			@include box-shadow(0, 2px, 3px, 0, rgba(0, 0, 0, 0.2));

			.meta {
				font-family: "Helvetica";
				width: 16.75rem;
				padding: 1.25rem 1.0rem 1.25rem 1.0rem;
				position: absolute;
				bottom: 0;
				background-color: #ffffff;
				font-size: 0.625rem;

				.tip {
					position: absolute;
					top: -8px;
					left: 8px;
				}

				.title {
					font-weight: 700;
				}

				.like {
					margin-left: 3.0rem;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					background-color: #111111;
					width: 3.0rem;

					img {
						$width: 17px;
						$height: 16px;
						width: $width;
						height: $height;
						@include horizontal-center($width);
						@include vertical-center($height);
					}
				}
			}
		}
	}

	li:first-child {
		margin-left: 0;
	}
}

footer {
	@extend .clearfix;
	background-color: #111111;
	color: #ffffff;
	text-align: center;
	font-size: 1.65rem;
	font-style: italic;
	.wrapper {
		width: 60.0rem;

		#about {
			padding: 3.0rem 0 0 0;
		}


		p {
		}
	}
}

