<div id = "flowchart-options" class = "options clearfix">
    <input class = "title" type = "text" placeholder = "Untitled" />
</div>
<div id  = "stats-options" class = "clearfix">
    <div id = "stats-wrap" class = "clearfix">
        <div class = "node-count data-count">
            <strong>0</strong>
            Nodes
        </div>
        <div class = "arrow-count data-count clearfix">
            <strong>0</strong>
            Arrows
        </div>
    </div>
</div>
<div id = "view-options" class = "options clearfix">
    <p class = "value"></p>
    <p class = "label">Zoom</p>
    <div id = "zoom-slider" class = "slider"></div>
</div>
