<p class = "label">Type</p>
<div class = "button-wrap clearfix">
    <button class = "question-button" type = "button" title = "Question">Q<span class = "selected" data-icon = "&#xf058;" aria-hidden = "true"></span></button>
    <button class = "answer-button" type = "button" title = "Answer">A<span class = "selected" data-icon = "&#xf058;" aria-hidden = "true"></span></button>
    <button class = "statement-button" type = "button" title = "Statement">S<span class = "selected" data-icon = "&#xf058;" aria-hidden = "true"></span></button>
</div>
<p class = "value">x<span id = "importance-value">1.0</span></p>
<p class = "label">Importance</p>
<div id = "importance-slider" class = "slider"></div>
